p , li, figcaption{
	font-family: "Latin Modern Roman";
}

.reveal h1, .reveal h2, .reveal h3, .reveal h4 {
	font-family: "TeX Gyre Bonum";
	text-transform: none;
	font-weight: 400;
}

.math {
	font-variant: normal;
}

.reveal h1.title {
	font-size: 3em;
	line-height: .7em;
}

.annotate {
	position:  absolute;
	font-size: 0.65em;
}

.annotate p{
	font-family: inherit;
}

.display .MathJax{
	margin-top: .6em !important;
	margin-bottom: .6em !important;
}

.small, figcaption{
	font-size: .6em;
}

img.small + figcaption{
	font-size: .5em;
}

.medium{
	font-size: .7em;
}

h1 .subtitle, h2 .subtitle{
	display: block;
	margin-top: 5%;
	padding-top: 5%;
	border-top:  1px solid black;
	font-size: .2em;
	font-variant: normal;
}

section img {
	width:  100%;
}

div.boxed {
	border:  3px solid black;
}

.inline {
	display:inline;
	width: 48%;
	margin: -10px 0px !important;
}

.bg{
	background-color: rgba(255, 255, 255, .7);
}

.glow {
	text-shadow: 0px 0px 3px white, 0px 0px 3px white, 0px 0px 3px white, 0px 0px 3px white, 0px 0px 3px white, 0px 0px 3px white;
}

.tikzpicture{
	width: 100% !important;
	height: 100% !important;
	left: 0px;
	top: 100px;
}

.r-stack p {
	width:  100%;
}